<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<clear/>
    
    
		<!--TODO: Remove connection string<add name="SettlementsConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Data\Web_App_TDPD.mdb" providerName="Microsoft.Jet.OLEDB.4.0"/>-->
		<add name="AccessReplacementConnectionString" connectionString="Server=.;Database=TDPD;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
		<add name="WebPaymentsConnectionString" connectionString="Server=.;Database=Web_Payments;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<compilation targetFramework="4.0" debug="true"/>
    <customErrors mode="Off" />
    <healthMonitoring>
			<eventMappings>
				<add name="TransportDepotWcfEvent" type="Transport_Depot_WCF.TransportDepotWcfAuditEvent, Transport_Depot_WCF"/>
			</eventMappings>
			<rules>
				<add name="TransportDepotRule" eventName="TransportDepotWcfEvent" provider="EventLogProvider" minInterval="00:00:01"/>
			</rules>
		</healthMonitoring>
	</system.web>
	<system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="HttpStreaming"
          transferMode="Streamed" />
      </webHttpBinding>
      <wsHttpBinding>
        <binding>
          <security mode="None"/>
        </binding>
      </wsHttpBinding>
      </bindings>
		<serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
		<services>
			<service name="Transport_Depot_WCF.SettlementService">
				<endpoint address="" 
                  binding="basicHttpBinding" 
                  contract="Transport_Depot_WCF.ISettlementService"/>
        <endpoint address="ajax"
                  behaviorConfiguration="AjaxBehavior"
                  binding="webHttpBinding"
                  contract="Transport_Depot_WCF.ISettlementService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        
			</service>
			<service name="Transport_Depot_AutomaticDeductions.AutomaticDeductions">
				<endpoint address="" binding="basicHttpBinding" contract="Transport_Depot_AutomaticDeductions.IAutomaticDeductions"/>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
			<service name="Transport_Depot_WCF.AccessPaymentPostingService">
				<endpoint address="" 
                  behaviorConfiguration="AjaxBehavior" 
                  binding="webHttpBinding" 
                  contract="Transport_Depot_WCF.IPaymentPostingService"/>
			</service>
      <service name="TransportDepot.Factoring.FactoringService" >
        <endpoint address=""
                  binding="basicHttpBinding"
                  contract="TransportDepot.Factoring.IFactoringService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <endpoint address="ajax"
          behaviorConfiguration="AjaxBehavior"
          binding="webHttpBinding"
          contract="TransportDepot.Factoring.IAjaxFactoringService"/>
      </service>
      <service name="TransportDepot.Factoring.FactoringPdfService" >
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <endpoint address=""
          behaviorConfiguration="AjaxBehavior"
          binding="webHttpBinding"
          bindingConfiguration="HttpStreaming"
          contract="TransportDepot.Factoring.IFactoringPdfService"/>
      </service>
      <service name="TransportDepot.Safety.SafetyService">
        <endpoint address=""
                  binding="basicHttpBinding"
                  contract="TransportDepot.Safety.ISafetyService"/>
        <endpoint address="ajax"
                  binding="webHttpBinding"
                  contract="TransportDepot.Safety.ISafetyService" 
                  behaviorConfiguration="AjaxBehavior"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service name="TransportDepot.Reports.Safety.SafetyService">
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <endpoint address=""
                  binding="basicHttpBinding"
                  contract="TransportDepot.Reports.Safety.ISafetyService"/>
        <endpoint address="ajax"
                  behaviorConfiguration="AjaxBehavior"
                  binding="webHttpBinding"
                  bindingConfiguration="HttpStreaming"
                  contract="TransportDepot.Reports.Safety.ISafetyService"/>
      </service>
      <service name="TransportDepot.AccountsReceivable.AccountsReceivableService">
        <endpoint address=""
                  binding="wsHttpBinding"
                  contract="TransportDepot.AccountsReceivable.IAccountsReceivableService"/>
        <endpoint address="ajax"
                  behaviorConfiguration="AjaxBehavior"
                  binding="webHttpBinding"
                  bindingConfiguration="HttpStreaming"
                  contract="TransportDepot.AccountsReceivable.IAccountsReceivableService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service name="TransportDepot.Business.BusinessService">
        <endpoint address=""
                  binding="basicHttpBinding"
                  contract="TransportDepot.Business.IBusinessService"/>
        <endpoint address="ajax"
                  behaviorConfiguration="AjaxBehavior"
                  binding="webHttpBinding"
                  bindingConfiguration="HttpStreaming"
                  contract="TransportDepot.Business.IBusinessService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service name="TransportDepot.Reports.AccountsReceivable.ARReportService" >
        <endpoint address=""
                  binding="basicHttpBinding"
                  contract="TransportDepot.Reports.IARReportService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <endpoint address="ajax"
                  behaviorConfiguration="AjaxBehavior"
                  binding="webHttpBinding"
                  bindingConfiguration="HttpStreaming"
                  contract="TransportDepot.Reports.IARReportService" />
      </service>
      <service name="TransportDepot.Payables.Commissions.CommissionService">
        <endpoint address=""
                binding="basicHttpBinding"
                contract="TransportDepot.Payables.Commissions.ICommissionService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service name="TransportDepot.AccountsReceivable.ApexPayments">
        <endpoint behaviorConfiguration="AjaxBehavior"
                  address=""
                  binding="webHttpBinding" bindingConfiguration="HttpStreaming"
                  contract="TransportDepot.AccountsReceivable.IApexPaymentsService"/>
        <endpoint  address  = "mex"
                   binding  = "mexHttpBinding"
                   contract = "IMetadataExchange" />
      </service>
      <service name="TransportDepot.Utilities.CsvUtilities">
        <endpoint behaviorConfiguration="AjaxBehavior"
                  address=""
                  binding="webHttpBinding" bindingConfiguration="HttpStreaming"
                  contract="TransportDepot.Utilities.ICsvService"/>
      </service>
      <service name="TransportDepot.Dispatch.DispatchService">
        <endpoint behaviorConfiguration="AjaxBehavior"
                  address=""
                  binding="webHttpBinding" 
                  contract="TransportDepot.Dispatch.IDispatchService"/>
      </service>
      <service name="TransportDepot.Utilities.Email.EmailService">
        <endpoint 
                  address=""
                  binding="basicHttpBinding"
                  contract="TransportDepot.Utilities.IEmailService"/>
      </service>
      <service name="TransportDepot.Reports.Dispatch.DispatchReportsService">
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <endpoint address=""
                  binding="basicHttpBinding"
                  contract="TransportDepot.Reports.Dispatch.IDispatchReports"/>
        <endpoint address="ajax"
                  behaviorConfiguration="AjaxBehavior"
                  binding="webHttpBinding"
                  bindingConfiguration="HttpStreaming"
                  contract="TransportDepot.Reports.Dispatch.IDispatchReports"/>
      </service>
      
      <service name="TransportDepot.Reports.Json.JsonReportService">
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>

        <endpoint address="ajax"
                  behaviorConfiguration="AjaxBehavior"
                  binding="webHttpBinding"
                  contract="TransportDepot.Reports.Json.IJsonReportService"/>
      </service>
      <service name="TransportDepot.Utilities.Workarounds">
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>

        <endpoint address="ajax"
                  behaviorConfiguration="AjaxBehavior"
                  binding="webHttpBinding"
                  contract="TransportDepot.Utilities.IWorkarounds"/>
      </service>
    </services>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<!-- To avoid disclosing metadata information, 
          set the value below to false and remove the metadata endpoint above before deployment -->
					<serviceMetadata httpGetEnabled="True"/>
					<!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
					<serviceDebug includeExceptionDetailInFaults="true"/>
          
				</behavior>
        <!--<behavior name="WebBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>-->
			</serviceBehaviors>
			<endpointBehaviors>
				<behavior name="AjaxBehavior">
          <webHttp defaultBodyStyle="Wrapped"
            defaultOutgoingResponseFormat="Json"/>
				</behavior>
			</endpointBehaviors>
		</behaviors>
      <!-- comment start to disble tracing
      <diagnostics>
      <messageLogging
           logEntireMessage="true"
           logMalformedMessages="true"
           logMessagesAtServiceLevel="true"
           logMessagesAtTransportLevel="true"
           maxMessagesToLog="3000"
           maxSizeOfMessageToLog="2000"/>
    </diagnostics>
    comment end to disble tracing -->
	</system.serviceModel>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>
	<appSettings>
		<add key="CommissionRateTypeID" value="1"/>
		<add key="LiabilityInsuranceRateTypeID" value="3"/>
		<add key="CargoInsuranceRateTypeID" value="2"/>
		<add key="DefaultPostCashDepartment" value="000"/>
		<add key="DefaultPostCashAccount" value="01010"/>
		<add key="DefaultPostSettlementDepartment" value="000"/>
		<add key="DefaultPostSettlementAccount" value="02050"/>
    <add key="Factoring.ApexAssingmentSheetPath" value="~/Templates/Apex_Assignment_Sheet.1.4.pdf"/>
    <add key="Factoring.DefaultUserFullName" value=""/>
    <add key="Factoring.ApexClientNumber" value="104638"/>
    <add key="Factoring.InvoiceLeftFill" value="0000000"/>
    <add key="Factoring.ApexClientName" value="Transport Depot"/>
    <add key="Factoring.ApexClientAddress1" value="0000000"/>
    <add key="Factoring.ApexClientAddress2" value="0000000"/>
    <add key="Factoring.ApexClientWatts" value="0000000"/>
    <add key="Factoring.ApexClientLocalPhone" value="0000000"/>
    <add key="Factoring.ApexClientFax" value="0000000"/>
    <!-- The offset values under TransportDepot.Reports.Safety are a day count offset from current date -->
    <add key="TransportDepot.Reports.Safety.HighlightDayCountOffset" value="0"/>
    <add key="TransportDepot.Reports.Safety.TractorSafety.MaintenanceCountOffset" value="44"/>
    <add key="TransportDepot.Reports.Safety.TractorSafety.RegistrationDayCountOffset" value="-30"/>
    <add key="TransportDepot.Reports.Safety.TractorSafety.DefaultDayCountOffset" value="-30"/>
    <!-- Color to highlight overdue dates on Safety Generic Report-->
    <add key="TransportDepot.Reports.Safety.GenericReport.HighlightRGB" value="255,255,0"/>
    <!-- Logs Tony requested 21 days 4/12 -->
    <add key="TransportDepot.Reports.Safety.DriverSafety.LogDateCountOffset" value="21"/>
    <add key="TransportDepot.Reports.Safety.DriverSafety.PhysicalDayCountOffset" value="-30"/>
    <add key="TransportDepot.Reports.Safety.DriverSafety.COVDayCountOffset" value="-20"/>
    <add key="TransportDepot.Reports.Safety.DriverSafety.DefaultDayCountOffset" value="-30"/>
    <!-- Collection Letters TransportDepot.Reports.AccountsReceivable-->
    <add key="TransportDepot.Reports.AccountsReceivable.CollectionLetterText" value="Here's a reminder that your account is overdue.  According to our records, the following invoices are still open.  If you have already sent a payment, please check the invoices' &quot;Paid&quot; column and write your check number and mailing date on the &quot;Comments&quot; column.  Otherwise, please include the scheduled payment date in the &quot;Comments&quot; column.\n\nPlease contact us if you find differences regarding the balance or terms reflected on the following schedule.\n\nYours truly,"/>
    <add key="TransportDepot.Reports.AccountsReceivable.CollectionsSignature" value="Cristina Gomez\ncgomez@transportdepot.net"/>
    <add key="TransportDepot.Reports.AccountsReceivable.FinalLetterText" value="Your account is seriously overdue.  We have exhausted our collection efforts and are considering reporting your nonpayment to Compunet, as well as filing against your bond.  In addition, we may further attempt to collect freight charges from the shipper(s), consignee(s) and other parties benefited from our service (Title 49 USC 13706).\n\nPlease contact us immediately or we will proceed within 48 hours from this notice.\n\nYours truly,"/>
    <add key="TransportDepot.AccountsReceivable.FactoringCreditPeriod" value="31"/>
    <add key="TransportDepot.AccountsReceivable.ApexPayments.TransactionTypes" value="Rebate|Non Factored|Charge Back|Invoice Under Paid"/>
    <!--Dispatcher Commission Payables-->
    <add key="TransportDepot.Payables.Commissions.NewCommission.GLDepartment" value="000"/>
    <add key="TransportDepot.Payables.Commissions.NewCommission.GLAccount" value="06090"/>
    <add key="TransportDepot.Payables.Commissions.NewCommission.CycleStartDay" value="16"/>
    <!-- Apex Payments -->
    <add key="TransportDepot.AccountsReceivable.Apex.GLDeparment" value="000"/>
    <add key="TransportDepot.AccountsReceivable.Apex.GLArAccount" value="01210"/>
    <add key="TransportDepot.AccountsReceivable.Apex.GLAccount" value="01012"/>

    <!-- SMTP Payments -->
    <add key="SMTP.Host" value="smtp.w14d.comcast.net"/>
    <add key="SMTP.Port" value="587"/>
    <add key="SMTP.UserName" value="jantran@transportdepot.comcastbiz.net"/>
    <add key="SMTP.Password" value="jantran1963"/>
    <add key="SMTP.Postman.Email" value="mail@transportdepot.net"/>
    <add key="SMTP.Postman.DisplayName" value="Postman"/>
    <add key="TransportDepot.DebugPath" value="c:\sites\debug.txt"/>
    <add key ="ErrorLogPath" value="c:\sites\errorLog.txt"/>
    <add key="TransportDepot.Utilities.Trucks.ReadyToOpenCountThreshold" value="5"/>
    <add key="TransportDepot.Utilities.Trucks.ReadyToWorkCountThreshold" value="20"/>
    <add key="TransportDepot.Utilities.Employees.ReadyToOpenCountThreshold" value="5"/>
    <add key="TransportDepot.Utilities.Employees.ReadyToWorkCountThreshold" value="20"/>
    <add key="TransportDepot.Utilities.BillingHistory.ReadyToOpenCountThreshold" value="5"/>
    <add key="TransportDepot.Utilities.BillingHistory.ReadyToWorkCountThreshold" value="20"/>
    <add key="TransportDepot.Utilities.ArEntry.ReadyToOpenCountThreshold" value="5"/>
    <add key="TransportDepot.Utilities.ArEntry.ReadyToWorkCountThreshold" value="8"/>
    <add key="TransportDepot.Utilities.RsPayable.ReadyToOpenCountThreshold" value="5"/>
    <add key="TransportDepot.Utilities.RsPayable.ReadyToWorkCountThreshold" value="8"/>
    <add key="TransportDepot.Utilities.RsPayableHistory.ReadyToOpenCountThreshold" value="5"/>
    <add key="TransportDepot.Utilities.RsPayableHistory.ReadyToWorkCountThreshold" value="8"/>
    <add key="TransportDepot.Utilities.GlEntry.ReadyToOpenCountThreshold" value="10"/>
    <add key="TransportDepot.Utilities.GlEntry.ReadyToWorkCountThreshold" value="20"/>
    <add key="TransportDepot.Utilities.ApPayableHistory.ReadyToOpenCountThreshold" value="10"/>
    <add key="TransportDepot.Utilities.ApPayableHistory.ReadyToWorkCountThreshold" value="20"/>
    <add key="TransportDepot.Utilities.TripNumber.ReadyToOpenCountThreshold" value="10"/>
    <add key="TransportDepot.Utilities.TripNumber.ReadyToWorkCountThreshold" value="20"/>
  </appSettings>
  <!--comment start to disble tracing
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel"
              switchValue="Information, ActivityTracing"
              propagateActivity="true" >
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
      <source name="myUserTraceSource"
              switchValue="Information, ActivityTracing">
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="xml"
           type="System.Diagnostics.XmlWriterTraceListener"
                 initializeData="C:\transport_depot\TracesForSerialization3.svclog" />
    </sharedListeners>
  </system.diagnostics>
  comment end to disble tracing -->
</configuration>
