<div>
    <!--Header-->
    <div></div>
    <!--Body-->
    <div>
        <fieldset>
            <legend>Tractor Maintenance</legend>
            <label>Tractor Id</label>
            <input ng-model="tractorId" type="text" />
            <br/>
            <label>Performed Date</label>
            <input ng-model="date" type="date" />
            <br />
            <label>Type</label>
            <input ng-model="type" type="text"/>
            <br />
            <label>Description</label>
            <input ng-model="description" type="text"/>
        </fieldset>
        
    </div>
</div>