<div>
    <!--Header-->
    <div></div>
    <!--Body-->
    <div>
        <fieldset>
            <legend>Tractor Maintenance</legend>
            <label>Tractor Id</label>
            <input ng-model="tractorId" type="text" />
            <br/>
            <label>Performed Date</label>
            <input ng-model="date" type="date" />
            <br />
            <div class="hidden">
              <label>
                Type</label>
              <input ng-model="type" type="text" value="MAINT" />
            </div>
            <label>Mileage</label>
            <input ng-model="mileage" type="text" value="MAINT" />
            <br />
            <label>Description</label>
            <input ng-model="description" type="text"/>
        </fieldset>
        
    </div>
</div>