<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<configSections>
		<sectionGroup name="webPaymentsGroup">
			<section name="fileHeader" type="WebPayments.ACHStaticElements.FileHeader" allowLocation="true" allowDefinition="Everywhere"/>
			<section name="companyBatchHeader" type="WebPayments.ACHStaticElements.CompanyBatchHeader" allowLocation="true" allowDefinition="Everywhere"/>
			<section name="entryDetailPPD" type="WebPayments.ACHStaticElements.EntryDetailPPD" allowLocation="true" allowDefinition="Everywhere"/>
			<section name="entryDetailCCD" type="WebPayments.ACHStaticElements.EntryDetailCCD" allowLocation="true" allowDefinition="Everywhere"/>
      <section name="entryDetailOffset" type="WebPayments.ACHStaticElements.EntryDetailOffset" allowLocation="true" allowDefinition="Everywhere"/>
      <section name="companyBatchControl" type="WebPayments.ACHStaticElements.CompanyBatchControl" allowLocation="true" allowDefinition="Everywhere"/>
			<section name="fileControl" type="WebPayments.ACHStaticElements.FileControl" allowLocation="true" allowDefinition="Everywhere"/>
		</sectionGroup>
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
	</configSections>
	<webPaymentsGroup>
		<fileHeader recordTypeCode="1" priorityCode="01" immediateDestination="b066011392" companyIdentificaton="1582676770" recordSize="094" blockingFactor="10" formatCode="1" immediateDestinationName="OCEAN BANK" immediateOriginName="WCM TRANSPORT DEPOT"/>
		<companyBatchHeader recordTypeCode="5" serviceClassCode="200" reserved="   " originatorStatusCode="1" originatingDFIBankIdentification="66011392"/>
		<entryDetailPPD recordTypeCode="6" transactionCode="22" discretionaryData="  " addendaRecordIndicator="0"/>
		<entryDetailCCD recordTypeCode="6" transactionCode="22" discretionaryData="  " addendaRecordIndicator="0"/>
    <entryDetailOffset 
       recordTypeCode= "6"
       transactionCode= "27" 
       receivingDFIIdentification ="066011392"
       dfiAccountNumber ="101023627905"
       identificationNumber = "TRANSPORT   "
       receiverName = "WCM TRANSPORT DE"
       discretionaryData= "  "
       addendaRecordIndicator= "0"/>

    <companyBatchControl recordTypeCode="8" serviceClassCode="200" messageAuthenticationCode="                   " reserved="      " originatingDFIBankIdentification="66011392"/>
		<fileControl recordTypeCode="9" reserved="                                       "/>
	</webPaymentsGroup>
	<connectionStrings>
		<add name="ApplicationServices" connectionString="data source=.;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient"/>
		<add name="WebAppConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Transport_Depot\Transport_Depot_WCF\App_Data\Web_App_DB.mdb" providerName=".NET Framework Data Provider for OLE DB"/>
    <add name ="!!!ACHFileStorageConnectionString" connectionString="Data Source=NETGATEWAY;Initial Catalog=Web_Payments;Integrated Security=True;" providerName="System.Data.SqlClient"  />
    <add name ="ACHFileStorageConnectionString" connectionString="Data Source=XPPROGRAMMING;Initial Catalog=Web_Payments;User Id=sa;password=jantran9;" providerName="System.Data.SqlClient"  />
    <add name ="NOT_ACHFileStorageConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Transport_Depot\Transport_Depot_WCF\App_Data\Web_App_DB.mdb" providerName="System.Data.SqlClient"  />

  </connectionStrings>
	<system.web>
		<identity impersonate="true" />
		<customErrors mode="Off" />
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies></compilation>
		<authentication mode="Forms">
			<forms loginUrl="~/Account/Login.aspx" timeout="2880"/>
		</authentication>
		<membership>
			<providers>
				<clear/>
				<add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
			</providers>
		</membership>
		<profile>
			<providers>
				<clear/>
				<add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
			</providers>
		</profile>
		<roleManager enabled="false">
			<providers>
				<clear/>
				<add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
				<add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
			</providers>
		</roleManager>
	</system.web>
	<location path="~/Account/Register.aspx">
		<system.web>
			<authorization>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<!--<location path="~/ACH">
		<system.web>
			<authorization>
				<allow users="tony"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>-->
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
	</entityFramework>
</configuration>
