<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="HourlyBackup.SourceFiles" value="c:\test\abc.txt"/>
    <add key="HourlyBackup.TargetFolder" value="c:\test\target"/>
    <add key="HourlyBackup.DaysEffective" value="1,2,3,4,5,6"/>
  </appSettings>
</configuration>