/* DEFAULTS
----------------------------------------------------------*/
.hidden-element
{
  display: none;
}
body
{
  background: #b6b7bc;
  font-size: .80em;
  font-family: "Helvetica Neue" , "Lucida Grande" , "Segoe UI" , Arial, Helvetica, Verdana, sans-serif;
  margin: 0px;
  padding: 0px;
  color: #696969;
}

a:link, a:visited
{
  color: #034af3;
}

a:hover
{
  color: #1d60ff;
  text-decoration: none;
}

a:active
{
  color: #034af3;
}

p
{
  margin-bottom: 10px;
  line-height: 1.6em;
}


/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6
{
  font-size: 1.5em;
  color: #666666;
  font-variant: small-caps;
  text-transform: none;
  font-weight: 200;
  margin-bottom: 0px;
}

h1
{
  font-size: 1.6em;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

h2
{
  font-size: 1.5em;
  font-weight: 600;
}

h3
{
  font-size: 1.2em;
}

h4
{
  font-size: 1.1em;
}

h5, h6
{
  font-size: 1em;
}

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
  margin-top: 0px;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page
{
  width: 960px;
  background-color: #fff;
  margin: 20px auto 0px auto;
  border: 1px solid #496077;
}

.header
{
  position: relative;
  margin: 0px;
  padding: 0px;
  background: #4b6c9e;
  width: 100%;
}

.header h1
{
  font-weight: 700;
  margin: 0px;
  padding: 0px 0px 0px 20px;
  color: #f9f9f9;
  border: none;
  line-height: 2em;
  font-size: 2em;
}

.main
{
  padding: 0px 12px;
  margin: 12px 8px 8px 8px;
  min-height: 420px;
}

.leftCol
{
  padding: 6px 0px;
  margin: 12px 8px 8px 8px;
  width: 200px;
  min-height: 200px;
}

.footer
{
  color: #4e5766;
  padding: 8px 0px 0px 0px;
  margin: 0px auto;
  text-align: center;
  line-height: normal;
}


/* TAB MENU   
----------------------------------------------------------*/

div.hideSkiplink
{
  background-color: #3a4f63;
  width: 100%;
}

div.menu
{
  padding: 4px 0px 4px 8px;
}

div.menu ul
{
  list-style: none;
  margin: 0px;
  padding: 0px;
  width: auto;
}

div.menu ul li a, div.menu ul li a:visited
{
  background-color: #465c71;
  border: 1px #4e667d solid;
  color: #dde4ec;
  display: block;
  line-height: 1.35em;
  padding: 4px 20px;
  text-decoration: none;
  white-space: nowrap;
}

div.menu ul li a:hover
{
  background-color: #bfcbd6;
  color: #465c71;
  text-decoration: none;
}

div.menu ul li a:active
{
  background-color: #465c71;
  color: #cfdbe6;
  text-decoration: none;
}

/* FORM ELEMENTS   
----------------------------------------------------------*/

fieldset
{
  margin: 1em 0px;
  padding: 1em;
  border: 1px solid #ccc;
}

fieldset p
{
  margin: 2px 12px 10px 10px;
}

fieldset.login label, fieldset.register label, fieldset.changePassword label
{
  display: block;
}

fieldset label.inline
{
  display: inline;
}

legend
{
  font-size: 1.1em;
  font-weight: 600;
  padding: 2px 4px 8px 4px;
}

input.textEntry
{
  width: 320px;
  border: 1px solid #ccc;
}

input.passwordEntry
{
  width: 320px;
  border: 1px solid #ccc;
}

div.accountInfo
{
  width: 42%;
}

/* MISC  
----------------------------------------------------------*/

.clear
{
  clear: both;
}

.title
{
  display: block;
  float: left;
  text-align: left;
  width: auto;
}

.loginDisplay
{
  font-size: 1.1em;
  display: block;
  text-align: right;
  padding: 10px;
  color: White;
}

.loginDisplay a:link
{
  color: white;
}

.loginDisplay a:visited
{
  color: white;
}

.loginDisplay a:hover
{
  color: white;
}

.failureNotification
{
  font-size: 1.2em;
  color: Red;
}

.bold
{
  font-weight: bold;
}

.submitButton
{
  text-align: right;
  padding-right: 10px;
}

.wrong-data
{
  color: Red;
  font-style: italic;
  font-weight: bold;
}

.missing-data
{
  font-style: italic;
}

/*** Additional stuff ***/

#payments-container
{
  width: 100%;
  padding: 10px;
}

table.tabular-data > td
{
  padding: 3px 5px;
}

.currency
{
  text-align: right;
  padding: 3px 10px;
}

.centered-data
{
  text-align: center;
  padding: 3px 10px;
}
.date-column
{
  width: 6em;
  text-align: center;
}

#main-interactive-container
{
  width: 100%;
  clear: both;
}

#payments-grid tbody tr td
{
  border: none;
}

#payments-due-container
{
  width: 50%;
  float: left;
  margin: 0;
  display: block;
}

#payments-due-container > a
{
  padding: 5px;
}
#options-container
{
  width: 30%;
  float: left;
  display: block;
}

.alternating-row td
{
  background-color: #dee6f3;
}
.alternating-item { background-color: #dee6f3; }
.standard-table
{
  border-collapse: collapse;
  margin-top: 20px;
}

.table-header
{
  background-color: #35608A;
  color: #eee;
  padding: 3px 5px;
  font-weight: normal;
}

.standard-table thead tr td
{
  padding: 3px 5px;
  font-weight: normal;
}

.standard-table tbody tr td
{
  padding: 3px 5px;
}

.page-selection
{
}

.payee-dialog-container
{
  width: 30%;
  float: right;
}
/**********  Payee Dialog  **********/

#payee-dialog-overlay
{
  /* set it to fill the whil screen */
  width: 100%;
  height: 100%; /* transparency for different browsers */
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
  background: #000; /* make sure it appear behind the dialog box but above everything else */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3000; /* hide it by default */
  display: none;
}


#payee-dialog-box
{
  /* css3 drop shadow */
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* css3 border radius */
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background: #eee; /* styling of the dialog box, i have a fixed dimension for this demo */
  width: 328px; /* make sure it has the highest z-index */
  position: absolute;
  z-index: 5000; /* hide it by default */ /*display:none;*/
}

/**********  End Payee Dialog  **********/

.payee-save-button
{
  width: 10em;
  padding: 0.1em 0.5em;
}

.payee-data-column
{
}

.payee-delete-button
{
  width: 10em;
  padding: 0.1em 0.5em;
}

.editfieldset
{
  padding: 1em;
  width: 25em;
}
.editlabel
{
  float: left;
  width: 10em;
  margin-right: 0.5em;
  padding-top: 0.2em;
  text-align: right;
  font-weight: bold;
  font-size: 80%;
}

#edit-payee-container-menu
{
  width: 40%;
  margin: 2px auto;
  padding-top: 10px;
}

#edit-payee-container-menu a
{
  margin: auto;
}
#dialog-overlay
{
  /* set it to fill the whil screen */
  width: 100%;
  height: 100%; /* transparency for different browsers */
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
  background: #000; /* make sure it appear behind the dialog box but above everything else */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3000; /* hide it by default */
  display: none;
}
/* */
.dialog-overlay-level-2
{
  /* set it to fill the whil screen */
  width: 100%;
  height: 100%; /* transparency for different browsers */
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
  background: #000; /* make sure it appear behind the dialog box but above everything else */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5000; /* hide it by default */
  display: none;
}

.loading-widget {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('http://i.stack.imgur.com/FhHRx.gif') 
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
.loading-widget {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
.loading-in-progress .loading-widget {
    display: block;
}

.invalid 
{
  color:Red;
}

.dialog-overlay
{
  /* set it to fill the whil screen */
  width: 100%;
  height: 100%; /* transparency for different browsers */
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
  background: #000; /* make sure it appear behind the dialog box but above everything else */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3000; /* hide it by default */
  display: none;
}

.overlaid-dialog {
  display: none;
     /* css3 drop shadow */
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* css3 border radius */
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background: #eee; /* styling of the dialog box, i have a fixed dimension for this demo */
  z-index: 5000; /* hide it by default */ /*display:none;*/
  position: absolute;
  top: 50%;  /* position the top  edge of the element at the middle of the parent */
  left: 50%; /* position the left edge of the element at the middle of the parent */

  transform: translate(-50%, -50%); /* This is a shorthand of
                                         translateX(-50%) and translateY(-50%) */
  padding: 1em;
}

.tractor-maintenance-dialog{
    width:25em;
}

.tractor-maintenance-dialog label {
    display: block;
    text-align:right;
    width: 8em;
    margin-right:1em;
    float: left;
}

.tractor-maintenance-dialog input {
    width: 10em;
    margin-left:.25em;
}
.tractor-maintenance-dialog div.menu {
    text-align: right;
}
.tractor-maintenance-dialog div.menu a {
    padding: 1em;
    display: inline-block;
    
}