<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DebugFolderPath" value="C:\Test\Commissions"/>
  </appSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICommissionService"
                         receiveTimeout="00:10:00"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.1.200/ft-svc/Payables.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICommissionService"
                contract="CommissionsReference.ICommissionService" name="BasicHttpBinding_ICommissionService" />
        </client>
    </system.serviceModel>
</configuration>