<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TransportDepot.Payables.Commissions.NewCommission.GLDepartment" value="000"/>
    <add key="TransportDepot.Payables.Commissions.NewCommission.GLAccount" value="06090"/>
    <add key="TransportDepot.Payables.Commissions.NewCommission.CycleStartDay" value="16"/>
  </appSettings>
  <connectionStrings>
    <clear/>


    <!--TODO: Remove connection string<add name="SettlementsConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Data\Web_App_TDPD.mdb" providerName="Microsoft.Jet.OLEDB.4.0"/>-->
    <add name="AccessReplacementConnectionString" connectionString="Server=192.168.1.242\SQLEXPRESSNEW;Database=Trans;User Id=sa;Password=Password1;" providerName="System.Data.SqlClient"/>
    <add name="WebPaymentsConnectionString" connectionString="Server=.;Database=Web_Payments;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>