<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Company Setup</title>
  <style type="text/css">
  body {
   padding-top: 0 !important;
   padding-bottom: 0 !important;
   padding-top: 0 !important;
   padding-bottom: 0 !important;
   margin:0 !important;
   width: 100% !important;
   -webkit-text-size-adjust: 100% !important;
   -ms-text-size-adjust: 100% !important;
   -webkit-font-smoothing: antialiased !important;
 }
 .tableContent img {
   border: 0 !important;
   display: block !important;
   outline: none !important;
 }
 a{
  color:#382F2E;
}
strong { color:#888 }
p, h1,h2,ul,ol,li,div{
  margin:0;
  padding:0;
}

h1,h2{
  font-weight: normal;
  background:transparent !important;
  border:none !important;
}

.contentEditable h2.big,.contentEditable h1.big{
  font-size: 26px !important;
}

 .contentEditable h2.bigger,.contentEditable h1.bigger{
  font-size: 37px !important;
}

td,table{
  vertical-align: top;
}
td.middle{
  vertical-align: middle;
}

a.link1{
  font-size:13px;
  color:#27A1E5;
  line-height: 24px;
  text-decoration:none;
}
a{
  text-decoration: none;
}

.link2{
color:#ffffff;
border-top:10px solid #27A1E5;
border-bottom:10px solid #27A1E5;
border-left:18px solid #27A1E5;
border-right:18px solid #27A1E5;
border-radius:3px;
-moz-border-radius:3px;
-webkit-border-radius:3px;
background:#27A1E5;
}

.link3{
color:#555555;
border:1px solid #cccccc;
padding:10px 18px;
border-radius:3px;
-moz-border-radius:3px;
-webkit-border-radius:3px;
background:#ffffff;
}

.link4{
color:#27A1E5;
line-height: 24px;
}

h2,h1{
line-height: 20px;
}
p, ul{
  font-size: 14px;
  line-height: 21px;
  color:#888;
}

ul{
  margin-left:1em;
}

table.contacts tr td
{
  font-size: 14px;
  line-height: 21px;
  color:#888;
}
.contentEditable li{
 
}
.contact { color:#555; width:5em; }
.contact-detail { width:6em; }
.contact-header {  font-size:16px; color:#555; }
.appart p{
 
}
.bgItem{
background: #ffffff;
}
.bgBody{
background: #ffffff;
}

img { 
  outline:none; 
  text-decoration:none; 
  -ms-interpolation-mode: bicubic;
  width: auto;
  max-width: 100%; 
  clear: both; 
  display: block;
  float: none;
}

    

</style>


<script type="colorScheme" class="swatch active">
{
    "name":"Default",
    "bgBody":"ffffff",
    "link":"27A1E5",
    "color":"AAAAAA",
    "bgItem":"ffffff",
    "title":"444444"
}
</script>


</head>
<body paddingwidth="0" paddingheight="0" bgcolor="#d1d3d4"  style="padding-top: 0; padding-bottom: 0; padding-top: 0; padding-bottom: 0; background-repeat: repeat; width: 100% !important; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-font-smoothing: antialiased;" offset="0" toppadding="0" leftpadding="0">
  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tableContent bgBody" align="center"  style='font-family:Helvetica, sans-serif;'>
    <!-- =============== START HEADER =============== -->
    
  <tr>
    <td align='center'>
      <table width="600" border="0" cellspacing="0" cellpadding="0" align="center" >
      <tr>
      <td class="bgItem" align="center">
      <table width="580" border="0" cellspacing="0" cellpadding="0" align="center">
        <tr>
          <td class='movableContentContainer' align="center">
            

            
      
        
<!-- =============== END HEADER =============== -->
<!-- =============== START BODY =============== -->
            

            <div class='movableContent'>
              <table width="580" border="0" cellspacing="0" cellpadding="0" align="center">

                <tr>
                  <td style='border: 1px solid #EEEEEE; border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px; background-color:#efefef'>
                    
                    <table width="480" border="0" cellspacing="0" cellpadding="0" align="center" >
                      <tr><td height='25'></td></tr>
                      <tr>
                        <td>
                          <div class='contentEditableContainer contentTextEditable'>
                            <div class='contentEditable' style='text-align: center;'>
                              <h2 style="font-size: 20px;">Fast Transport</h2>
                              <br>
                              <span >Contract Carrier ICC MC 856436</span><br/>
                              <span class="">FIN:</span>
                              <span >46-4820396</span>
                              <br/>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr><td height='24'></td></tr>
                    </table>
                  </td>
                </tr>
                <tr><td>&nbsp;</td></tr>
                <tr>
                  <td height='40'>
                    <strong style="font-size:95%">From the desk of {{From}} ({{FromEmail}})</strong><br/><br/>
                    <p>Dear {{Attn}},</p><br/>
                    <p>Thank you for your interest in our services.  You will find attached:</p>
                    <ul>
                      <li>Carrier Authority</li>
                      <li>Insurance Certificate</li>
                      <li>W9</li>
                    </ul>
                    <br/>
                  </td>
                </tr>                
              </table>  
            </div>

            <!-- Address and Insurance -->
            
            <hr style='height:1px;background:#DDDDDD;border:none;'>
            
            <div class='movableContent'>
              <table width="580" border="0" cellspacing="0" cellpadding="0" align="center">
                <tr><td height='20' colspan="3"></td></tr>
                <tr>
                  <td width='252'>
                    <table width='252' border='0' cellpadding="0" cellspacing="0" align="center">
                      <tr>
                        <td>
                          <div class='contentEditableContainer contentTextEditable'>
                            <div class='contentEditable' style='text-align: left;'>
                              <h2 style="font-size: 20px;">Address</h2>
                              <br>
                              <h2 class="contact-header">Physical</strong>
                              <p>3146 Virginia Pine Ct.</br>
                                 Wake Forest, NC 27587
                              </p>
                              <br>
                              <h2 class="contact-header">Mailing</h2>
                              <p>6156 NW 74 Ave</br>
                                 Miami, FL 33166
                              </p>

                              <br>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </table>
                  </td>
                  <td width='75'></td>
                  <td width='252'>
                    <table width='252' border='0' cellpadding="0" cellspacing="0" align="center">
                      <tr>
                        <td>
                           <div class='contentEditableContainer contentTextEditable'>
                            <div class='contentEditable' style='text-align: left;'>
                              <h2 style="font-size: 20px;">Insurance</h2>
                              <br>
                              
                              <p>Bye Insurance<br/>
                                 PO Box 1243</br>
                                 Clayton, NC 27528<br/>
                                 (919) 779-1550
                              </p>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>  
            </div>
            


            <hr style='height:1px;background:#DDDDDD;border:none;'>




            <div class='movableContent'>
              <table width="580" border="0" cellspacing="0" cellpadding="0" align="center">
                
                <tr>
                  <td width='530'>
                    <table width="100%" cellpadding="0" cellspacing="0" align="center">
                      <tr><td height='15'></td></tr>
                      <tr>
                        <td>
                          <div class='contentEditableContainer contentTextEditable'>
                            <div class='contentEditable' style='text-align: left;'>
                              <h2 class="contact-header">Dispatch</h2>
                              <br>
                                <table class="contacts" style="width:100%; border:none;">
                                  <tr>
                                    <td class="contact"><span >Alfredo</span></td>
                                    <td class="contact-detail">alfredo@transportdepot.net</td>
                                    <td style="width:7em;">&nbsp;</td>
                                    <td class="contact"><span >Ernesto</span></td>
                                    <td class="contact-detail">ernesto@transportdepot.net</td>
                                  </tr>
                                  <tr>
                                    <td class="contact"><span >Juan</span></td>
                                    <td>juan@transportdepot.net</td>
                                    <td >&nbsp;</td>
                                    <td class="contact"><span  >Mike</span></td>
                                    <td>michael@transportdepot.net</td>
                                  </tr>
                                </table>
                              <br>

                            </div>
                          </div>
                        </td>
                      </tr>
                    </table>
                  </td>

                  <td width='20'>
                    &nbsp;
                  </td>
                </tr>
                
                <tr><td colspan="3"><hr style='height:1px;background:#DDDDDD;border:none;'></td></tr>
              </table>  
            </div>

            <!-- Other Contacts -->
  
            <div class='movableContent'>
              <table width="580" border="0" cellspacing="0" cellpadding="0" align="center">
                
                <tr>
                  <td width='530'>
                    <table width="100%" cellpadding="0" cellspacing="0" align="center">
                      
                      <tr>
                        <td>
                          <div class='contentEditableContainer contentTextEditable'>
                            <div class='contentEditable' style='text-align: left;'>
                              
                              <br>
                                <table class="contacts" style="width:100%; border:none;">
                                  <tr>
                                    <td class="contact"><h2 class="contact-header">Accounting</h2></td>        <td class="contact-detail"></td> 
                                    <td style="width:7em;"></td>
                                    <td class="contact"><h2 class="contact-header">Safety</h2></td>
                                    <td class="contact-detail"></td> 
                                  </tr>
                                  
                                  <tr>
                                    <td class="contact"><span >Cristina</span></td>
                                    <td class="contact-detail">cristina@transportdepot.net</td>
                                    <td style="width:7em;">&nbsp;</td>
                                    <td class="contact"><span >Milagros</span></td>
                                    <td class="contact-detail">milagros@transportdepot.net</td>
                                  </tr>
                                  <tr>
                                    <td></td>
                                    <td></td>
                                  </tr>
                                  <tr>
                                    <td></td>
                                    <td></td>
                                  </tr>
                                </table>
                              <br>

                            </div>
                          </div>
                        </td>
                      </tr>
                    </table>
                  </td>

                  <td width='20'>
                    &nbsp;
                  </td>
                </tr>
                
                <tr><td colspan="3"><hr style='height:1px;background:#DDDDDD;border:none;'></td></tr>
              </table>  
            </div>


  
            
            <br/>
            <div class='movableContent'>
              <h2 style="font-size: 20px;">References</h2>
              <table width="580" border="0" cellspacing="0" cellpadding="0" align="center">
                <tr><td height='20' colspan="3"></td></tr>
                <tr>
                  <td width='252'>
                   
                    <table width='252' border='0' cellpadding="0" cellspacing="0" align="center">
                      <tr>
                        <td>
                          <div class='contentEditableContainer contentTextEditable'>
                            <div class='contentEditable' style='text-align: left;'>
                              
                              <p>Crowley Logistics<br/>
                                 Miami, FL</br>
                                 (305) 463-4811<br/>
                                 Jorge
                              </p>
                              <br />
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div class='contentEditableContainer contentTextEditable'>
                            <div class='contentEditable' style='text-align: left;'>
                              
                              <p>New Direction Transport<br/>
                                 Fort Lauderdale, FL</br>
                                 (954) 847-5454<br/>
                                 Kathy
                              </p>
                              <br />
                            </div>
                          </div>
                        </td>
                      </tr>                
                    </table>
                  </td>
                  <td width='75'></td>
                  <td width='252'>
                    <table width='252' border='0' cellpadding="0" cellspacing="0" align="center">
                      <tr>
                        <td>
                          <div class='contentEditableContainer contentTextEditable'>
                            <div class='contentEditable' style='text-align: left;'>
                              
                              <p>Apex Capital Corp<br/>
                                 Fort Worth, TX</br>
                                 (817) 332-7300<br/>
                                 Kathy
                              </p>
                              <br />
                            </div>
                          </div>
                        </td>
                      </tr>   
                    </table>
                  </td>
                </tr>
              </table>  
            </div>

  
    <hr style='height:1px;background:#DDDDDD;border:none;'>
  

<!-- =============== END BODY =============== -->
<!-- =============== START FOOTER =============== -->
            <div class='movableContent'>
              <table width="580" border="0" cellspacing="0" cellpadding="0" align="center">
                <tr><td colspan="3" height='48'></td></tr>
                <tr>
                  <td width='90'></td>
                  <td width='400'align='center' style='text-align: center;'>
                    <table width='400' cellpadding="0" cellspacing="0" align="center">
                      <tr>
                        <td>
                          <div class='contentEditableContainer contentTextEditable'>
                            <div class='contentEditable' style='text-align: center;color:#AAAAAA;'>
                              <p>
                              Sent by Fast Transport <br/>
                              3146 Virginia Pine Ct. <br/>
                              Wake Forest, NC 27587<br/>

                              </p>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </table>
                  </td>
                  <td width='90'></td>
                </tr>
              </table>  
            </div>

            <div class='movableContent'>
              <table width="580" border="0" cellspacing="0" cellpadding="0" align="center">
                <tr><td colspan="3" height='40'></td></tr>
                <tr>
                  <td width='195'></td>
                  <td width='190' align='center' style='text-align: center;'>

                  </td>
                  <td width='195'></td>
                </tr>
                <tr><td colspan="3" height='40'></td></tr>
              </table>  
            </div>
<!-- =============== END FOOTER =============== -->
          </td>
        </tr>
      </table>
      </td>
      </tr>
      </table>
    </td>
  </tr>
</table>

</body>
</html>
